* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
/******************************* Sidebar styling ************************************/

/* <*********************************************************************************************************************************> */
.hero-heading {
    background-color: #457684;
    
    width: 75%;
    display: flex;
    /* margin: 10px auto; */
    margin: auto;
    margin-right: 120px;
    margin-top: 1rem;
    /* padding: 20px; */
    align-items: center;
    gap: 48rem;
    height: 100%;

}
.hero-heading-left 
{
    color: white;
    padding: 20px;
    display: box;
}
.icon
{
    font-size: xx-large;
    padding: 10px;
}
.hero-section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-top: 2.5rem;
    margin-left: 17rem;
}
.hero-section-left h1
{
    color: #32616e;
}
.hero-section-left img{
    height: 160px;
}
.hero-section-left-f1
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid black;
}
.hero-section-left-f2
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid black;
}
.hero-section-2
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: 1px solid;
    padding: 30px;
    background-color: #32616e;
    color: white;
    border: 1px solid black;
}
.hero-section-2 button
{
    background-color: #3d7788;
    padding: 15px 65px;
}