*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar,
.navbar-left,
.navbar-right
{
  display: flex;
 
}
.navbar-left,
.navbar-right
{
  align-items: center;
}
.navbar-left
{
  gap: 20px;
}
.navbar-left img
{
  height: 80px;
}
.navbar-right
{
  gap: 10px;
  padding-right: 20px;
}
.navbar
{
  justify-content: space-between;
  background-color: #013c4c;
  color: white;
}